{% extends "base.html" %}


 {% block head %}
<link  rel="stylesheet" href="../static/css/Index.css">
 {% endblock %}

{% block body %}
<!-- =========================================================================       -->

      <section class="main">
          <div class="container">
              <div class="row ">
                  <div class="col col-md-12 pt-5 text-center">
                    <h1 class="pt-5" style=" font-family: 'Pattaya', sans-serif">Nature Has Always Cared For Us !</h1>
                    <h4 class="pt-2 text-white">Buy groceries and feed yourself, even on the road!</h4>
                    <h6 class=" text-white">Whoever said money can't buy happiness didn't know where to shop</h6>
                    <a href="/products"><button class="btn2 my-2">Shop Now</button></a>
                  </div>
              </div>
          </div>
      </section>

<!-- =========================================================================  Welcome     -->      
 <section class="welcome py-5 bg-dark text-white">
   <div class="container py-2">
      <div class=" row">
        <div class="col-lg-12 m-auto text-center">
          <h2 class="py-3" style=" font-family: 'Pattaya', sans-serif;">Welcome To Our Store</h2>
          <h5 class="pt-3">"We value our customers more than anything, and your satisfaction is what we aim for!</h5>
          <h5 class="pb-3"> Welcome to you! Thank you for visiting us!"</h5>
          <a href="/products"><button class="btn2 ">Shop Now</button></a>
          </div>
      </div>
   </div>

 </section>
<!-- =========================================================================  collection or categories     -->
<div class="welcome pt-3 ">
  <div class="container">
     <div class=" row">
       <div class="col-lg-12 m-auto text-center">
         <h2 class="py-3" style=" font-family: 'Pattaya', sans-serif;">Categories  </h2>
         
         </div>
     </div>
  </div>
<section class="m-auto text-center">
 <div class="container">
	<div class="row">
     <div class="col-md-2"></div>
		<div class="col-md-8">
      <div class="row">
        <div class="col-md-4 my-1 mr-1">
          <div class="card" style="width: 15rem;">
            <img src="../static/img/divimages1.jpg" class=" img-fluid card-img-top" alt="...">
          </div>
        </div>        
        <div class="col-md-4 my-1 mr-1">
          <div class="card" style="width: 15rem;">
            <img src="../static/img/divimages1.jpg" class=" img-fluid card-img-top" alt="...">
          </div>
        </div>        
        <div class="col-md-4 my-1 mr-1">
          <div class="card" style="width: 15rem;">
            <img src="../static/img/divimages1.jpg" class=" img-fluid card-img-top" alt="...">
          </div>
        </div>  
      </div>     
    </div>
    
		<div class="col-md-2"></div>
	</div>
  <div class="row pt-3">
     <div class="col-md-2"></div>
		<div class="col-md-8">
      <div class="row">
        <div class="col-md-4 my-1 mr-1">
          <div class="card" style="width: 15rem;">
            <img src="../static/img/divimages1.jpg" class=" img-fluid card-img-top" alt="...">
          </div>
        </div>        
        <div class="col-md-4 my-1 mr-1">
          <div class="card" style="width: 15rem;">
            <img src="../static/img/divimages1.jpg" class=" img-fluid card-img-top" alt="...">
          </div>
        </div>        
        <div class="col-md-4 my-1 mr-1">
          <div class="card" style="width: 15rem;">
            <img src="../static/img/divimages1.jpg" class=" img-fluid card-img-top" alt="...">
          </div>
        </div>  
      </div>     
    </div>
		<div class="col-md-2"></div>
	</div>
</div> 
</div>
</section>
  




<!-- =========================================================================       -->
<div class="welcome pt-3 ">
  <div class="container">
     <div class=" row">
       <div class="col-lg-12 m-auto text-center">
         <h2 class="py-3" style=" font-family: 'Pattaya', sans-serif;">Fresh Collection  </h2>
         
         </div>
     </div>
  </div>
 <section class="trending my-3">
    <div class="container">
        <div class="row h-20">
            <div class="col-md-3 my-1 mr-1">
                <div class="card  bg-body rounded text-center">
                    <img src="../static/img/divimages1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Moong Dal</h5>
                      <h6 class="card-title">Rs: 155</h6>                      
                      <a href="#" class=" btn btn-danger">Buy Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 my-1 mr-1">
                <div class="card bg-body rounded  text-center">
                    <img src="../static/img/divimages1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Apple</h5>
                      <h6 class="card-title">Rs: 139</h6>                      
                      <a href="#" class=" btn btn-danger">Buy Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 my-1 mr-1">
                <div class="card bg-body rounded   text-center">
                    <img src="../static/img/divimages1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Amul Ghee</h5>
                      <h6 class="card-title">Rs: 225</h6>                      
                      <a href="#" class=" btn btn-danger">Buy Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 my-1 mr-1">
                <div class="card bg-body rounded   text-center">
                    <img src="../static/img/divimages1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Orange Fresh</h5>
                      <h6 class="card-title">Rs: 80</h6>                      
                      <a href="#" class=" btn btn-danger">Buy Now</a>
                    </div>
                  </div>
            </div>
            
           
        </div>
    </div>
  
 </section>
<!-- =========================================================================       -->
   <section class="secimg py-2">
     <div class="container">
       <div class="row">
         <div class="col-md-6">

         </div>
       </div>
     </div>
   </section>
<!-- ============================================================================================ -->

<section class="trending my-2">
  <div class="container">
      <div class="row h-20">
          <div class="col-md-3 my-2 mr-1">
              <div class="card  bg-body rounded text-center">
                  <img src="../static/img/divimages1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Marie Gold</h5>
                    <h6 class="card-title">Rs: 32</h6>                      
                    <a href="#" class=" btn btn-danger">Buy Now</a>
                  </div>
                </div>
          </div>
          <div class="col-md-3 my-2 mr-1">
              <div class="card bg-body rounded  text-center">
                  <img src="../static/img/divimages1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Pepsi</h5>
                    <h6 class="card-title">Rs: 99</h6>                      
                    <a href="#" class=" btn btn-danger">Buy Now</a>
                  </div>
                </div>
          </div>
          <div class="col-md-3 my-2 mr-1">
              <div class="card bg-body rounded   text-center">
                  <img src="../static/img/divimages1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Dairy Milk</h5>
                    <h6 class="card-title">Rs: 75</h6>                      
                    <a href="#" class=" btn btn-danger">Buy Now</a>
                  </div>
                </div>
          </div>
          <div class="col-md-3 my-2 mr-1">
              <div class="card bg-body rounded   text-center">
                  <img src="../static/img/divimages1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Tata Tea</h5>
                    <h6 class="card-title">Rs: 129</h6>                      
                    <a href="#" class=" btn btn-danger">Buy Now</a>
                  </div>
                </div>
          </div>
          
         
      </div>
  </div>

</section>

{% endblock %}
<!-- =========footer================================================================       -->


   


